<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h4><a href="/back">back to recipes</a></h4>
    <h4><a href="/logout">logout</a></h4>
    <h1>Welcome, {{user.first_name}} {{user.last_name}}</h1>
    <h2>{{recipe.name}}</h2>
    <h4>Description: {{recipe.description}}</h4>
    <h4>Under 30 Minutes: {{recipe.under}}</h4>
    <h4>Instructions: {{recipe.instructions}}</h4>
    <h4>Date Made: {{recipe.date.strftime('%m/%d/%Y')}}</h4>
</body>
</html>